<h2>placeholder creation page</h2>


<form action="/groups" method="POST"\>
  <label for="startStation">Start</label> 
  <input id="startStation" type="text" name="startStation">
  
  <label for="endStation">End</label> 
  <input id="endStation" type="text" name="endStation">
  
  <label for="date">Plot</label> 
  <input id="date" type="date" name="date">

 {{user}}


  <button type="submit">create this group</button>
</form>

 //to be added : departure and arrival times maybe via select, comments, maxP, 