{{#with groups}}
<h1>My groups :</h1>

<ul>
{{#each groups}}

<li>{{date}}
{{startStation}}
{{endStation}}</li>
<a href="/groups/{{ this._id }}/delete">delete this group</a>
{{/each}}

</ul>

<br><p>Go to <a href="/groupsearchUrl">Group search</a></p>

{{/with}}