<br><h1>My groups :</h1>
<br>
<ul>
{{#each groups}}

<li>
  <p><span>{{this.date}}</span></p>
<p>From : {{this.startStation}}</p>
<p>To : {{this.endStation}}</p>
</li>
<a href="/groups/{{ this._id }}/delete">delete this group</a><br><br><br>
{{/each}}

</ul>

<br><p>Go to <a href="/groupsearchUrl">Group search</a></p>
